.add-course {
    display: flex;
    flex-direction: column;
}

.courses {
    margin: 30px 50px;
}

.courses-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    row-gap: 30px;
    column-gap: 30px;
}