.app {
  display: flex;
	flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.form-wrapper {
  background-color: #F5F5F5;
  height: 100%;
}

.my-input {
  max-width: 500px;
  border: none;
  margin: 20px 0;
  height: 30px;
  font-size: 20px;
  outline: #9A9FAB solid 1px;
}

.my-label {
  font-size: 20px;
}

.my-input:focus {
  outline: navy solid 1px;
}

.my-button {
  padding: 5px 10px;
  height: 32px;
  background-color: #9A9FAB;
  font-size: 18px;
  color: white;
  width: auto;
  border: none;
  border-radius: 10px;
  width: fit-content;
}

.my-button:hover {
  border: 1px solid #9A9FAB;
}

.nav-button {
  margin: 0px;
  padding: 0px;
  color: white;
  border: none;
  background-color: transparent;
  font-size: 26px;
  margin: 10px 40px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.nav-small {
  font-size: 18px;
  margin: 5px 20px;
  color: #9A9FAB;
}

.logout {
  color: black;
}